body
  {
    background: black  no-repeat fixed;
    background-size:cover;
  }
  h1
  {
    color: #fff;
    font: bold 3.0vw sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

.img-signage{
  object-fit: cover;
  // object-position: center; /* Center the image within the element */
  height: 40vh;
  border-radius:20px;
  width: 100%;
}

.logo-signage{
    width:15vw;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
.carousel-inner{
  margin:5vh;
  margin-top:10vh;
  height: 80vh;
  max-width:95vw;
  overflow: hidden;
}
  div
  {
    font: normal 1.5vw sans-serif;
    color:#fff;
    text-shadow: 2px 2px 4px #000;
  }
