---
---

:root {
  font-size:1rem;
}

html,  body  {
    margin:  0;
    padding:  0;
    font-family: 'ApercuRegular', arial, sans-serif;
}

/* || Pratt typography */

@font-face {
font-family: 'ApercuBold';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.eot/fonts/apercu-bold-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.svg#ApercuBold") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuBoldItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.svg#ApercuBoldItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.svg#ApercuItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuRegular';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.svg#ApercuRegular") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuMedium';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.svg#ApercuMedium") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuMediumItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.svg#ApercuMediumItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'Entypo';
    src:  url("https://www.pratt.edu/assets/fonts/entypo.eot");
    src:  url("https://www.pratt.edu/assets/fonts/entypo.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/entypo.svg#Entypo") format("svg"),  url("https://www.pratt.edu/assets/fonts/entypo.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/entypo.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonRegular";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonItalic";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonBold";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}

h1,  h2,  h3,  h4,  h5,  h6  {
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
    font-weight:  normal;
}
p,  pre  {
    font-family:  "LyonRegular",  Helvetica,  Arial,  sans-serif;
    margin:  1.125em 0;
    line-height:  1.55em;
    font-size:  1.04em;
    letter-spacing:  normal;
}
p a  {
    color:  #000000;
    padding:  2px;
    border-bottom:  1px solid #0C77D4;
    border-bottom-width:  1px;
    border-bottom-style:  solid;
    border-bottom-color:  #0C77D4;
    box-shadow:  inset 0 -1px 0 #0C77D4;
    text-decoration:  none;
}
p a:hover  {
    color:  #FFFFFF;
    background-color:  #0C77D4;
    padding:  2px;
    transition:  background .15s cubic-bezier(.33,  .66,  .66,  1);
    transition-property:  background;
    transition-duration:  0.15s;
    transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    transition-delay:  0s;
}
blockquote  {
    margin:  1.5em 40px;
}
h1  {
    font-size:  2.75em;
    line-height:  1.5em;
    margin-top:  0.13636em;
    margin-bottom:  0.13636em;
    line-height:  1em;
    text-transform:  uppercase;
    letter-spacing:  0.09em;
}
@media (max-width: 47.938em)  {
    h1  {
    font-size:  2.25em;
}
}
h2  {
    font-size:  1.5rem;
    font-weight:  500;
    line-height:  1.2;
    color:  inherit;
    margin-top:  0;
    letter-spacing:  0.09em;
    text-transform:  uppercase;

}
h3  {
    font-size:  2.25em;
    line-height:  1.5em;
    margin-top:  0.15em;
    margin-bottom:  0.15em;
    line-height:  1.25em;
    letter-spacing:  normal;
}
@media (max-width: 47.938em)  {
    h3  {
    font-size:  1.5em;
}
}
h4  {
    font-size:  1em;
    line-height:  2em;
    margin-top:  0.25em;
    margin-bottom:  0.25em;
    line-height:  1.25em;
    letter-spacing:  0.09em;
    text-transform:  uppercase;
}
@media (max-width: 47.938em)  {
    h4  {
    font-size:  1em;
}
}
h5  {
    font-size:  1.04em;
    line-height:  1.2em;
    margin-top:  0.12em;
    margin-bottom:  0.12em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h5  {
    font-size:  0.9375em;
}
}
h6  {
    font-size:  0.95em;
    line-height:  1.57895em;
    margin-top:  0.15789em;
    margin-bottom:  0.15789em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h6  {
    font-size:  0.7125em;
}
}
abbr[title]  {
    border-bottom:  1px dotted;
}
b,  strong  {
    font-family:  "LyonBold",  "LyonRegular",  Helvetica,  Arial,  sans-serif;
}
dfn  {
    font-style:  italic;
}
hr  {
    -webkit-box-sizing:  content-box;
    -moz-box-sizing:  content-box;
    box-sizing:  content-box;
    background-color:  #8c8c8c;
}
mark  {
    background:  #ff0;
    color:  #000;
}
code,  kbd,  pre,  samp  {
    font-family:  monospace,  serif;
    _font-family:  'courier new',  monospace;
    font-size:  1em;
}
pre  {
    white-space:  pre;
    white-space:  pre-wrap;
    word-wrap:  break-word;
}
q  {
    quotes:  "\201C" "\201D" "\2018" "\2019";
}
small  {
    font-size:  80%;
}
sub,  sup  {
    font-size:  75%;
    line-height:  0;
    position:  relative;
    vertical-align:  baseline;
}
sup  {
    top:  -0.5em;
}
sub  {
    bottom:  -0.25em;
}
dl,  menu,  ol,  ul  {
    margin:  1.3em 0;
}
dd  {
    margin:  0 0 0 40px;
}
menu,  ol,  ul  {
    padding:  0 0 0 40px;
}
nav ul,  nav ol  {
    list-style:  none;
    list-style-image:  none;
}
p  {
    font-size:  1em;
}
a  {
    color:  #0C77D4;
    -webkit-transition-property:  color;
    -moz-transition-property:  color;
    -o-transition-property:  color;
    transition-property:  color;
    -webkit-transition-duration:  0.2s;
    -moz-transition-duration:  0.2s;
    -o-transition-duration:  0.2s;
    transition-duration:  0.2s;
    word-wrap:  break-word;
    font-size:  1em;
    text-decoration:  none;
    letter-spacing:  normal;
}

/* || Library Styles */

 .logo-style  {
    height:  2.1rem;
    margin-top:  -10px;
}
@media only screen and (max-width:380px)  {
    .logo-style  {
    height:  2rem;
}
}
@media only screen and (max-width:320px)  {
    .logo-style  {
    height:  1.6rem;
}
}
.navbar-nav  {
    min-height:  25px;
    padding:  0;
}

ul.navbar-nav{
  margin:0;
}

.nav-item  {
    color:  white;
    margin:0 .5em;
    text-decoration:  none;
    font-size:  .95em;
    white-space: nowrap;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}
header  {
    position:  relative;
    width:  100%;
    min-height:  auto;
    text-align:  center;
    color:  #fff;
    // background-image:  url({{site_url}}/img/heading1.jpg);
    background-color:  #5BBF53;
    background-position:  center;
    -webkit-background-size:  cover;
    -moz-background-size:  cover;
    background-size:  cover;
}
.header2  {
    background-image:  url({{site_url}}/img/campus1.jpg);
}
.header3  {
    background-image:  url({{site_url}}/img/pi_bg4.jpg);
}
.header4  {
    background-image:  url({{site_url}}/img/pi_bg2.jpg);
}
.header5  {
    background-image:  url({{site_url}}/img/pi_bg5.jpg);
}

// header.featured-image {
//   background-image:  url({{site_url}}{{site.featured-image}});
// }

ul  {
    list-style:  none;
    padding-left:  0;
}

footer  {
    width:  100%;
    padding:  25px;
    line-height:  1.6em;
}
@media (max-width:600px){
    footer-content  {
    padding:  100px;
}
}

.card  {
    border:  0px;
}
.navbar-custom  {

}

.navbar-custom .navbar-nav .nav-link  {
    color:  white;
    font-size:  1.1rem;
    letter-spacing:  .08em;
}
.navbar-custom .nav-item.active .nav-link,  .navbar-custom .nav-item:hover .nav-link  {
    color:  rgb(255,  185,  0);
}

.input-group > .form-control.search-bar  {
    border-top-left-radius:  2rem;
    border-bottom-left-radius:  2rem;
    height:  50px;
    background-color:  transparent;
    border: 1px solid white;
    border-right:0;
}

.input-group > .form-control.search-bar::placeholder {
  color: white;
  opacity: 1;
}

.form-control{
  color:white;
}
.form-control:focus{
  color:white;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
}

 .input-group > .form-control.search-bar:focus{
  border: 1px solid rgb(0, 123, 255 / 50%);
}
.input-group-append > button.btn.search-button  {
    border-top-right-radius:  2rem;
    border-bottom-right-radius:  2rem;
    background-color:  transparent;
    color:white;
    border: 1px solid white;
    border-left:0;
    height:  50px;
}
.search-button:hover  {

    color:  black;
    height:  50px;
}
.lib-heading  {
    text-align:  center;
    margin-top:  30px;
}

@media (min-width:1000px)  {
    .form-style  {
    position:  relative;
    width:  100%;
    min-height:  auto;
    text-align:  center;
    color:  #fff;
    padding-top:  30px;
    background-position:  center;
    -webkit-background-size:  cover;
    -moz-background-size:  cover;
    border-radius:  3px;
    background-size:  cover;
}
}
.jumbotron  {
    border-width:  1px;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
    border-color:  black;
}
.btn-primary  {
    margin:  2px;
    border-width:  1px;
    border-color:  black;
    border-radius:0;
    background-color:  white;
    color:  black;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}
.btn-primary:hover  {
    margin:  2px;
    border-width:  1px;
    border-color:  black;
    border-radius:  0px;
    background-color:  #0C77D4;
    color:  white;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}

.footer-links  {
    text-transform:  none;
    font-size:  1.05em;
    line-height:  1.5em;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}
.search-box  {
    margin-top:  100px;
    margin-bottom:  50px;
    padding:  10px;
    width:  90%;
    margin-left:  5%;
    border-radius:  5px;
    color:  white;
}
@media (min-width: 1000px)  {
    .search-box  {
    margin-top:  130px;
    margin-bottom:  80px;
    padding:  10px;
    width:  60%;
    margin-left:  20%;
    color:  white;
}
}
.home-page-splash  {
    padding:  10px;
    width:  90%;
    margin-left:  5%;
    border-radius:  5px;
    color:  white;
   }

#home-page-motto {
  text-align:left;
  text-shadow: 2px 2px 4px #000000;
}

@media (min-width:  1000px)  {
    .home-page-splash  {
    padding:  10px;
    width:  60%;
    margin-left:  20%;
    color:  white;
}
}
.blog  {
    line-height:  1;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}

[data-toggle="collapse"] i:before  {
    content:  "\f068";
}

[data-toggle="collapse"].collapsed i:before  {
    content:  "\f067";
}

.nav-link:hover  {
    color:  #FFB900;
}

.image  {
    display:  block;
    width:  100%;
    height:  auto;
}
.overlay  {
    position:  absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    height:  100%;
    width:  100%;
    opacity:  0;
    transition:  .5s ease;
    background-color:  #0C77D4;
}
#overlay-archives  {
    position:  absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    height:  100%;
    width:  100%;
    opacity:  0;
    transition:  .5s ease;
    background-color:  #0C77D4;
}
#overlay-exhibits  {
    position:  absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    height:  100%;
    width:  100%;
    opacity:  0;
    transition:  .5s ease;
    background-color:  #FFB900;
}
#overlay-special  {
    position:  absolute;
    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    height:  100%;
    width:  inherit;
    opacity:  0;
    transition:  .5s ease;
    background-color:  #F26531;
}
.centered-img-text  {
    position:  absolute;
    top:  50%;
    color:  white;
    left:  50%;
    transform:  translate(-50%,  -50%);
    z-index:  999;
}
.com:hover #overlay-archives  {
    opacity:  .85;
}
.com:hover #overlay-exhibits  {
    opacity:  .85;
}
.com:hover #overlay-special  {
    opacity:  .85;
}
.com h3  {
    text-shadow:  0 0 4px #000000;
}
.com  {
    position:  relative;
    display:  -ms-flexbox;
    display:  flex;
    -ms-flex-direction:  column;
    flex-direction:  column;
    min-width:  0;
    word-wrap:  break-word;
    background-color:  black;
    background-clip:  border-box;
    border-radius:  0.25rem;
}
img  {
    max-width:  100%;
    flex-shrink:  0;
}
.image-text  {
    color:  white;
    font-size:  1.3rem;
    position:  absolute;
    top:  50%;
    left:  50%;
    -webkit-transform:  translate(-50%,  -50%);
    -ms-transform:  translate(-50%,  -50%);
    transform:  translate(-50%,  -50%);
    text-align:  center;
}
.logo  {
    display:  inline-block;
    margin-top:  .3em;
}
.logo a  {
    background:  url(https://library.pratt.edu/img/logo-white.png) no-repeat;
    background-size:  90px 30px;
    display:  block;
    height:  30px;
    width:  90px;
    overflow:  hidden;
    text-indent:  -1999px;
    z-index:  1000;
    background-repeat:  no-repeat;
    -webkit-transition-duration:  0.2s;
    -moz-transition-duration:  0.2s;
    -o-transition-duration:  0.2s;
    transition-duration:  0.2s;
    -webkit-transition-property:  height;
    -moz-transition-property:  height;
    -o-transition-property:  height;
    transition-property:  height;
    -webkit-transition-property:  width;
    -moz-transition-property:  width;
    -o-transition-property:  width;
    transition-property:  width;
    -webkit-transition-property:  margin;
    -moz-transition-property:  margin;
    -o-transition-property:  margin;
    transition-property:  margin;
}
.svg .logo a  {
    background-image:  url(https://library.pratt.edu/img/logo-white.png);
}
.logo a:hover  {
    background-image:  url(https://library.pratt.edu/img/logo-gold.png);
}
.svg .logo a:hover  {
    background-image:  url(https://library.pratt.edu/img/logo-gold.png);
}
@media (max-width: 70em)  {
    .logo a  {
    background-size:  90px 30px;
    height:  30px;
    width:  90px;
    background-position:  50% 50%;
}
}
@media screen and (max-width: 956px)  {
    .logo  {
    padding-top:  .75em;
    padding-bottom:  .5em;
    margin-top:  0;
    float:  none;
    margin-left:  auto;
    margin-right:  auto;
    display:  block;
    width:  100px;
    margin-bottom:  0;
}
}
.ie8 .logo a,  .lt-ie8 .logo a  {
    background-image:  url(https://library.pratt.edu/img/logo-black-ie.png);
    width:  90px;
    height:  30px;
    background-size:  auto;
}
.ie8 .logo a:hover,  .lt-ie8 .logo a:hover  {
    background-image:  url(https://library.pratt.edu/img/logo-gold-ie.png);
}

.search-box li a  {
    color:  white;
    font-size:  1rem;
    padding:  5px 15px 5px 15px;
}

.dropdown-item  {
    color:  black;
}
.dropdown-item:hover  {
    color:  white;
    background-color:  #0C77D4;
}

.directory-style{
  font-family: "ApercuRegular",  Helvetica,  Arial,  sans-serif;
  padding-bottom:10px;
}
.hide  {
    position:  absolute;
    top:  -9999px ;
    left:  -9999px;
}

.alert  {
    border-width:  2px;
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
    font-size:  1rem;
    margin:  10px;
}
.closebtn  {
    margin-left:  15px;
    color:  white;
    font-weight:  bold;
    float:  right;
    font-size:  1.3rem;
    line-height:  20px;
    cursor:  pointer;
    transition:  0.3s;
}
.closebtn:hover  {
    color:  black;
}
 .s-lc-time  {
    padding-left:  12px;
}
.card-header  {
    background-color:  white;
}
.btn-link  {
    color:  #0C77D4;
}

.expert-tool {
  width: 150px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.expert-tool i{
display:block;
padding-bottom:.4em;
}
@media (max-width: 767px) {
  .expert-tool {
      width: 100%;
      height: 5%;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 1em;
      display: inline-block;
      line-height: 1em;
  }
}

div#s-lg-widget-1579290774229 > ul > li > a {
  font-size:  1.05em;
  line-height:  1.5em;
  font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
}

.pratt-btn{
  font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif;
	background-color:#FFB900;
	margin:1rem;
	padding: 1.25rem;
	border-radius:5px;
	color:black;
display:block;
	text-align:center;
        transition-duration: 0.2s;}

.pratt-btn:hover{
    background-color:#0C77D4;
    color:white;
    text-decoration:none;
        }

/*lib-chat button style*/

button.s-lch-widget-float-btn{
box-shadow:none;
background-color: transparent;
-webkit-filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, .3));
filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, .3));
cursor: pointer;
}

.s-lch-widget-float.open{
z-index:9000;
}

.advanced-search{
  text-shadow: 2px 2px 4px #000000;
   color:white;
   float:right;
   margin-top:5px;
   padding-right:35px;
}

.advanced-search:hover{
  color:white;
}

.lib-site-alert{
  // padding: 1em;
  position:relative;
  width:100%;
  top:60px;
  text-align: center;
  background-color: #FFB900;
  color:black;
  display:none;
}

.lib-site-alert p{
    font-family:'ApercuMedium', Helvetica, Arial, sans-serif;

}

.lib-site-alert i {
  padding-top:1em;
}

.lib-site-alert p > a{
  text-decoration: underline;
  color:black;
  border:none;
  box-shadow:none;
}
.lib-site-alert p > a:hover {
color: black;
background-color: transparent;
}
#featured-image-attr{
  color:white;
  padding:.3em;
  font-family:'ApercuMedium', Helvetica, Arial, sans-serif;
}

.center-cropped {
  object-fit: cover;
  // object-position: center; /* Center the image within the element */
  height: 200px;
  overflow:hidden;
  width: 100%;
}

div.card > a.post-link{
  text-align: left;
  color:#212529;
}
div.card a.post-link:hover{
  color:#0C77D4;
  text-decoration: none;
}

.post-link > img{
  margin-bottom:.5em;
}
.post-meta{
  padding-top:.05em;
  color:rgba(0,0,0,.65);
  font-family:'ApercuMedium', Helvetica, Arial, sans-serif;
}

.post-category{
  color:#84736C;
  font-family:'ApercuMedium', Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  margin-top:.7em;
  letter-spacing: .1em;
}

.post{
  padding:1em;
}

.blog-caption{
margin-top:.2em;
font-size:1em;
}
.post-title{
  text-align:center;
}
.post-content{
  font-size:1.1em;
}

@media screen and (min-width:800px){
.post-content{
  margin-left:5em;
  margin-right:5em;
}
}
.post > .post-meta{
  text-align:center;
}

.lib-news img:hover{
opacity:.6;
transition:.2s ease;
}
div.lib-news > p {
    overflow: hidden;
    margin-top:0;
    margin-bottom:0;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.carousel-caption > h3.p-5{
  text-shadow: 1px 1px black;
}

.featured-image-post{
  object-fit: cover;
  height: 300px;
  width: 100%;
  margin-top:0;
}

/*style the libcal widget for responsive display*/
#api_upc_cid10470_iid4676{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  // padding:1em;
  // margin:20px;
  font-family: 'ApercuMedium', Helvetica, Arial, sans-serif;
}
.s-lc-ea-l{
  display:none;
}
.s-lc-ea-tdes{
  display:none;
}
i.fas.fa-2x.fa-arrow-circle-right {
    vertical-align: middle;
}

div#s-lg-widget-1579290774229 li {
    font-family: 'LyonRegular', serif;
}

tr.s-lc-ea-ttit a {
    font-size: 1.5em;
    color:#212529;

}

tr.s-lc-ea-ttit a:hover {
  color:#0C77D4;
  text-decoration: none;
}
.s-lc-ea-tdat{
      font-size:1.1em;
      color:#212529;
}
.s-lc-ea-ttim{
    margin-top: .7em;
    color: rgba(0,0,0,0.65);
    }
.s-lc-ea-tloc{
  color: rgba(0,0,0,0.65);
}

.s-lc-ea-noe{
  font-size:1.2em;
  text-align:center;
  padding:1em;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.08);
}
    .s-lc-ea-tcat{
      color: #F26531;
      letter-spacing: .1em;
      text-transform: uppercase;}

#api_upc_cid10470_iid4676 > .s-lc-ea-h3{
  display: none;
}

#api_upc_cid10470_iid4676 > table {
    border-left: 20px solid #FFB900;
}
#api_upc_cid10470_iid4676 > table > tbody > tr > td{
  padding-left:1em;
}
/*END LibCal widget*/

/* LibChat Widget CSS */
            .s-lch-widget-float { position: fixed; bottom: 1px; right: 1px; z-index: 1000; padding: 1em; font-size: 16px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; -ms-flex-align: end; align-items: flex-end; box-sizing: border-box; pointer-events: none; }
            .s-lch-widget-float.open { top: 1px; width: 375px; height: 100%; }
            .s-lch-widget-float > * { pointer-events: auto; }
            .s-lch-widget-float-load { -ms-flex: 0 1 auto; flex: 0 1 auto; display: none; transition: flex-grow 2s; border-radius: 5px; border: 1px solid rgb(221, 221, 221); box-shadow: 0.1em 0.2em 0.5em #ccc; min-height: 200px; width: 100%; height: 200px; }
            .s-lch-widget-float-load.expanded { -ms-flex: 2 1 auto; flex: 2 1 auto; min-height: 0; }
            .s-lch-widget-float.open .s-lch-widget-float-load { display: block; }
            .s-lch-widget-float-btn { border: none; padding: .75em .75em .5em .75em; border-radius: 5px; position: relative; bottom: 0; right: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; box-shadow: 0.1em 0.2em 0.5em #ccc; font-size: .9em; color: #ffffff; width: 4em; height: 3.75em; }
            .s-lch-widget-float.open .s-lch-widget-float-btn { margin-top: 1em; }
            .s-lch-widget-float-btn.online { background-color: transparent; color: #ffffff; }
            .s-lch-widget-float-btn svg .dots { display: none; }
            .s-lch-widget-float-btn.online svg .dots { display: block; }
            .s-lch-widget-float-btn.s-lch-widget-img-btn, .s-lch-widget-float-btn img { padding: 0; height: 60px; width: 160px; }
            #s-lch-widget-float-indicator { position: absolute; top: -.5em; right: -.5em; background-color: red; border-radius: 1em; width: 1em; height: 1em; }
            @media (max-width: 550px) {
            .s-lch-widget-float { left: 0; width: 100%; }
            .s-lch-widget-float.open .s-lch-widget-float-load { width: 100%; }
            .s-lch-widget-float.open .s-lch-widget-float-btn { display: none; }
            }
