---
title: Collections - Pratt Institute Libraries
permalink: /collections/
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
{% include head.html %}
</head>
<body>
{% include header.html %}
<main id="main">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="lib-heading">Collections</h1>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top card-img" src="img/collections/books1.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Books
                        </h2>
                        <hr>
                        <p class="card-text">More than 200,000 volumes of print materials, including 600+ periodicals.</p>
                        <a class="btn btn-primary" href="https://cat.pratt.edu" target="_blank">Search&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        <a class="btn btn-primary" href="{{absolute_url}}/policies">Read Borrowing Policy</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top card-img" src="img/collections/books.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Journals
                        </h2>
                        <hr>
                        <p class="card-text">Search magazines, journals, and newspapers in print and digital.</p>
                        <a class="btn btn-primary" href="http://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=s8440772&groupid=main&direct=true&db=edspub&profile=eds&plp=1" target="_blank">Title Search&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top card-img" src="img/collections/video.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Film & Video
                        </h2>
                        <hr>
                        <p class="card-text">Over 6,000 unique titles in a variety of formats.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/filmcollection">Go to Film & Video</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top card-img" src="img/collections/databases.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            E-Resources
                        </h2>
                        <hr>
                        <p class="card-text">Databases for articles, eBooks, images, statistics and more. Accessible on campus and at home.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/az.php">Find a Database</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top card-img" src="img/collections/databases.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Research Guides
                        </h2>
                        <hr>
                        <p class="card-text">Subject specific guides to help you with your research.</p>
                        <a class="btn btn-primary" href="https://libguides.pratt.edu/?b=s">Go to Research Guides</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/images.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Image Collections
                        </h2>
                        <hr>
                        <p class="card-text">The Pratt Institute Libraries make available a wide range of image resources to support teaching and learning.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/visualresources">Go to Image Collections</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/services/equipment.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Equipment
                        </h2>
                        <hr>
                        <p class="card-text">Computers, Projectors, and AV Equipment.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/equipment">Find Equipment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/artistbooks.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Artists’ Books
                        </h2>
                        <hr>
                        <p class="card-text">The Artists' Book collection encompasses books crafted, published, produced or altered by an artist.</p>
                        <a class="btn btn-primary" href="https://libguides.pratt.edu/artistsbookscollection">Go to Artists' Books</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/zines.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Zines
                        </h2>
                        <hr>
                        <p class="card-text">The Libraries’ Zine Collection focuses on locally-produced titles and are selected for artistic as well as literary content.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/zines">Go to Zines</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/theses.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Theses
                        </h2>
                        <hr>
                        <p class="card-text">The Brooklyn Campus Library acts as a repository for Pratt's graduate theses.</p>
                        <a class="btn btn-primary" href="http://cat.pratt.edu/search/X?SEARCH=(*)&SORT=D&m=u" target="_blank">Browse&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/thesisguide">Thesis Guide</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/special.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Special Collections
                        </h2>
                        <hr>
                        <p class="card-text">Rare and limited editions of seminal works in the fields of art, architecture and design.</p>
                        <a class="btn btn-primary" href="https://libguides.pratt.edu/specialcollections">Go to Special Collections</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <!--<img class="card-img-top" src="img/collections/archives.jpg" alt="">-->
                    <div class="card-body">
                        <h2 class="card-title">
                            Archives
                        </h2>
                        <hr>
                        <p class="card-text">Historical papers, images, and artifacts that document the history of Pratt Institute.</p>
                        <a class="btn btn-primary" href="http://libguides.pratt.edu/archives">Go to Archives</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% include footer.html %}
<script>
document.getElementById("custom-header").className = "header" + Math.floor(Math.random() * 6);
</script>
</body>
</html>
