---
title: Contact - Pratt Institute Libraries
lang: en
permalink: /contact/
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
{% include head.html %}
</head>
<body>
{% include header.html %}
<main id="main">
<div class="container">
  <!-- Page Heading -->
  <h1 class="lib-heading">Contact</h1> <hr>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-body">
     <h5>Circulation Desk</h5>
      Brooklyn:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(718) 636-3420<br>
      <a href="mailto:bcirc.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Brooklyn Circulation</a><br><br>
      Manhattan:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(212) 647-7546<br>
      <a href="mailto:mcirc.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Manhattan Circulation</a><br>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-body">
      <h5>Reference Desk</h5>
      Brooklyn:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(718) 636-3704<br>
      <a href="mailto:libref@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Reference Desk</a><br>
      <a href="mailto:resvbkln@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Course Reserves</a><br>
      <a href="mailto:illbklyn@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Interlibrary Loan</a><br><br>

      Manhattan:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(212) 647-7546<br>
      <a href="mailto:libref@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Reference Desk</a><br>
      <a href="mailto:resvpmc@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Course Reserves</a><br>
      <a href="mailto:illmanha@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Interlibrary Loan</a><br>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-body">
      <h5>Institute Archives</h5>
      Brooklyn:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(718) 687-5381<br>
      <a href="mailto:archives.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Institute Archives</a><br>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-body">
      <h5>Visual Multimedia Resources</h5>
      Brooklyn:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(718) 399-4356<br>
      <a href="mailto:room.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Room Reservations</a><br>
      <a href="mailto:video.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Film / Video Reserves</a><br>
      <br>
      <h5>Equipment Loan</h5>
      Brooklyn:<br>
      <i class="fa fa-1x fa-phone"></i>&nbsp;&nbsp;(718) 636-3626<br>
      <a href="mailto:equipment.library@pratt.edu"><i class = "fa fa-1x fa-envelope"></i>&nbsp;&nbsp;Equipment Loan</a><br>
      </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
  <br>
<div class="mx-auto">
<a class="btn btn-primary" href="{{absolute_url}}/staff">Go to Staff Directory</a>
<a class="btn btn-primary" href="https://libguides.pratt.edu/donate">Donate Materials</a>
</div>
</div>
</div>
</div>
</div>
</main>
{% include footer.html %}
<script>
document.getElementById("custom-header").className = "header" + Math.floor(Math.random() * 6);
</script>
</body>
</html>
