---
title: Pratt Institute Libraries
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>

  <header>
        {% include nav.html %}
        <!-- Alert Message below. Uncomment and enter message in content attribute to display-->
        {% include alert.html%}
        <!--end Alert Message-->
        <div class="container">
          <div class="row">
          <div class="home-page-splash" id="search">
          <h1 style="text-align:left; text-shadow: 2px 2px 4px #000000;">RESEARCH & DISCOVER</h1>
     <script type="text/javascript" src="https://imageserver.ebscohost.com/branding/tabbedsearch/js/FormProcessing.js"></script>
     <form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)">
     <input name="search_prefix" type="hidden" value="" /> <input name="direct" type="hidden" value="true" />
     <input name="scope" type="hidden" value="site" /> <input name="site" type="hidden" value="eds-live" />
     <input name="authtype" type="hidden" value="ip,guest" />
     <input name="custid" type="hidden" value="s8440772" />
     <input name="groupid" type="hidden" value="main" />
     <input name="profile" type="hidden" value="eds" />
     <input name="bquery" type="hidden" value="" />
     <div class="input-group input-group-lg">
     <input aria-label="Search through library collections" name="uquery" class="form-control py=2 shadow search-bar" placeholder="Find books, articles, guides & more" type="search" />
     <span class="input-group-append">
     <button aria-label="library search" type="submit" value="Search" class="btn btn-outline-secondary border-0 search-button"><i class="fa fa-search"></i></button>
     </span>
     </div>
     </form>
           <a class="advanced-search" href="https://search.ebscohost.com/login.aspx?direct=true&authtype=ip,guest&custid=s8440772&setup=1&groupid=main&profile=eds">Advanced Search</a>
          </div>

            </div>
         </div>
  </header>
    <main id="main">
        <div class="container">
 <div class="row">
        </div>
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <h2 class="hide">Common Tasks</h2>
                <div class="col-lg-8 col-sm-12 mb-12 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h3 class="hide">Find Resources</h3>
                                <a id="find-books" class="btn btn-primary expert-tool" href="https://cat.pratt.edu/"><i class="fas fa-2x fa-book"></i>Books</a>
                                <a id="find-databases" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/az.php"><i class="fas fa-2x fa-file-alt"></i>Databases</a>
                                <a id="find-journals" class="btn btn-primary expert-tool" href="https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=s8440772&groupid=main&direct=true&db=edspub&profile=eds&plp=1" target="_blank"><i class="fas fa-2x fa-list-alt"></i>Journals</a>
                                <a id="find-images" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/visualresources"><i class="fas fa-2x fa-images"></i>Images</a>
                                <a id="find-video" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/filmcollection"><i class="fas fa-2x fa-tv"></i>Film & Video</a>
                                <a id="find-equipment" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/equipment"><i class="fas fa-2x fa-camera"></i>Equipment</a>
                                <a id="find-guides" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/?b=s"><i class="fas fa-2x fa-book-open"></i>Research Guides</a>
                                <a id="pickup" class="btn btn-primary expert-tool" href="https://libguides.pratt.edu/remote_learning/pickup"><i class="fas fa-2x fa-shopping-cart"></i>Contact-free<br>Pickup</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                Today's Hours</h3>
                            <div>
                                <div id="api_hours_today_iid4676_lid0"></div>
                                <script src="https://api3.libcal.com/api_hours_today.php?iid=4676&lid=0&format=js&systemTime=0&context=object">
                                </script>
                                <a href="https://pratt.libcal.com/hours">More hours</a>
                            </div>
                            <hr>
                            <div id="api_today_cid10470_12017_iid4676"></div>
                            <script src="https://api3.libcal.com/api_events.php?iid=4676&m=today&cid=10470_12017&audience=&c=&d=&simple=ul_date&context=object&format=js">
                            </script>
                            <a href="https://pratt.libcal.com">Upcoming events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- spotlights -->

        <div>
            <div class="container" class="text-center">
                <h2>Explore</h2>
                <hr><br>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="https://libguides.pratt.edu/archives">
                            <div class="com">
                                <img src="img/archives.jpg" class="image " alt>
                                <h3 class="centered-img-text">Archives</h3>
                                <div id="overlay-archives">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="https://pratt.libcal.com">
                            <div class="com">
                                <img src="img/exhibits.jpg" class="image " alt>
                                <h3 class="centered-img-text text-center">Events & Exhibits</h3>
                                <div id="overlay-exhibits">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a href="https://connectny.info/" target="_blank">
                            <div class="com">
                                <img src="img/collects.jpg" class="image " alt>
                                <h3 class="centered-img-text">ConnectNY</h3>
                                <div id="overlay-special">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <div class="card">
 <div class="card-body">
  <h3>Tutorial Video</h3>
  <hr>
 <h4>Using basic library search tools</h4>
 <script src="https://cdnapisec.kaltura.com/p/2071011/sp/207101100/embedIframeJs/uiconf_id/33970391/partner_id/2071011"></script>
 <div id="kaltura_player_1600891921" style="width: 100%; height:389px;"></div>
 <script>
 kWidget.embed({
  "targetId": "kaltura_player_1600891921",
  "wid": "_2071011",
  "uiconf_id": 33970391,
  "flashvars": {},
  "cache_st": 1600891921,
  "entry_id": "1_j4x17dar"
 });
 </script>
 <div class="lead">
    <a class="pratt-btn" style="margin-top:1em;" href="https://talks.pratt.edu/category/Libraries%3ELibrary+Tutorials/122554662" target="_blank" role="button"><i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;Go to Tutorial Videos</a>
                            </div>
    </div>
                            </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-4">
                      <div class="card">
 <div class="card-body">
 <h3 class="card-title">Blog</h3><hr>
 <script>
 var springStats = springStats || {};
 springStats.saConfig = springStats.saConfig || {
    site_id: 12473,
    tracking_parameters: {"_st_site_id":12473},
    tracking_server_host: "libguides-proc.springyaws.com"
 };
 </script>
 <script async  src="//lgapi-us.libapps.com/web/js/sa.min.js?3116"></script>
 <script>
    springSpace.Common = springSpace.Common || { };
    springSpace.Common.constant = { PROCESSING: { ACTION_DISPLAY_POLL: 159 }};
    springSpace.Common.baseURL = "//lgapi-us.libapps.com'/";
    springSpace.Common.apiLoad = true;
 </script><script>
 springshare_widget_config_1579290774229 = { path: 'blogs' };
 </script>
 <div id="s-lg-widget-1579290774229"></div>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=12473&widget_type=12&widget_embed_type=1&output_format=1&widget_title=Blog+Posts&widget_height=250&widget_width=100%25&widget_link_color=2954d1&window_target=2&display_teaser=1&display_post=0&display_images=0&num_results=3&enable_more_results=1&blog_id=0&display_post_date=0&config_id=1579290774229";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1579290774229");</script>

                    </div>
                </div>
            </div>
        </div>
        <!--instagram feed-->
        <h3 style="text-align:center;"><i class="fab fa-instagram"></i>&nbsp;&nbsp;On Instagram</h3><hr>
        <div class="row">

        <div id="instagram-feed1" class="instagram_feed"></div>
         <script src="scripts/js/jquery.instagramFeed.min.js"></script>
           <script>
            (function($){
                $(window).on('load', function(){
                    $.instagramFeed({
                        'username': 'prattlibraries',
                        'container': "#instagram-feed1",
                        'display_profile': false,
                        'display_biography': false,
                        'display_gallery': true,
                        'callback': null,
                        'styling': true,
                        'items': 4,
                        'items_per_row': 4,
                        'margin': 1
                    });
                });
            })(jQuery);
        </script>

          </div>
        <!--endinsta-->
 </div>
    </main>

{% include footer.html %}
  </body>
</html>
