<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4 footer-links">
                <h3 class="h5">Pratt Institute Libraries</h3>
                <h4 class="h6">BROOKLYN CAMPUS</h4>
                200 Willoughby Ave<br> Brooklyn, NY 11205<br> 718.636.3704
                <br>
                <a href="https://www.pratt.edu/the-institute/visit-pratt/maps-and-directions/directions/" target="_blank">Directions</a><br>
                <a href="contact.html">Contact us</a><br>
                <a href="https://libguides.pratt.edu/visit">Visit us</a>
                <br><br>
                <h4 class="h6">MANHATTAN CAMPUS</h4>
                144 West 14th Street, Room 410<br> New York, NY 10011-7301<br> 212.647.7546
                <br>
                <a href="https://www.pratt.edu/the-institute/visit-pratt/maps-and-directions/directions-manhattan/" target="_blank">Directions</a><br>
                <a href="contact.html">Contact us</a><br>
                <a href="https://libguides.pratt.edu/visit">Visit us</a><br><br>
                <h4 class="h6">PRATTMWP</h4>
                310 Genesee Street<br> Utica, NY 13502<br> 800.755.8920
                <br><br>


                <div class="wrapper">
                    <a target="_blank" aria-label="Instagram" href="https://www.instagram.com/prattlibraries/?hl=en"><i class="fab fa-2x fa-instagram"></i></a>
                    <a target="_blank" aria-label="Facebook" href="https://www.facebook.com/pages/Pratt-Institute-Libraries/7307432007"><i class="fab fa-2x fa-facebook-square"></i></a>
                    <a target="_blank" aria-label="Twitter" href="https://twitter.com/PrattLibraries"><i class="fab fa-2x fa-twitter-square"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-4">
                <h3 class="h5">Quick Links</h3>
                <ul class="nav-item footer-links">
                    <li><a href="https://cat.pratt.edu">Books
   </a></li>
                    <li><a href="https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=s8440772&groupid=main&direct=true&db=edspub&profile=eds&plp=1">Journals
    </a></li>
                    <li><a href="https://libguides.pratt.edu/az.php">Databases
    </a></li>
                    <li><a href="https://cat.pratt.edu/search/r/">Course Reserves</a>
                    </li>
                    <li><a href="https://libguides.pratt.edu/?b=s">Research Guides
    </a></li>
                    <li><a href="https://libguides.pratt.edu/filmcollection">Film & Video
   </a></li>
                    <li><a href="https://libguides.pratt.edu/interlibraryloan/ILLHome">Interlibrary Loan
   </a></li>
                    <li><a href="https://connectny.info/" target="_blank">ConnectNY
   </a></li>
                    <li><a href="https://libguides.pratt.edu/equipment">Equipment Loan
   </a></li>
                    <li><a href="https://libguides.pratt.edu/archives">Archives
   </a></li>
                    <li><a href="https://libguides.pratt.edu/visualresources">Digital Images
   </a></li>
                    <li><a href="https://cat.pratt.edu/patroninfo">My Account
   </a></li>
                    <li><a href="https://libguides.pratt.edu/blog">Blog
    </a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 mb-4">
                <h3 class="h5">Resources</h3>
                <ul class="nav-item footer-links">
                    <li><a href="https://libguides.pratt.edu/visit">Visitor Guide
    </a></li>
                    <li><a href="https://pratt.libcal.com/hours">Library Hours
    </a></li>
                    <li><a href="policies.html">Library Policies</a></li>
                    <li>
                        <a href="staff.html">Staff Directory</a></li>
                    <li>
                        <a href="https://pratt.libwizard.com/f/suggestion" target="_blank">Suggest a Purchase</a>
                    </li>
                    <li><a href="https://libguides.pratt.edu/donate">Donate to the Libraries</a>
                    </li>
                    <li><a href="https://libguides.pratt.edu/studentjobs">Student Jobs
    </a></li>
                    <li><a target="_blank" href="https://www.pratt.edu/the-institute/administration-resources/finance-administration/human-resources/jobs-at-pratt/">Work at Pratt
    </a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 mb-4">
                <h3 class="h5">Pratt Web Space</h3>
                <div class="footer-links">
                    <ul class="nav-item footer-links">
                        <li><a target="_blank" href="https://digication.pratt.edu/">ePortfolio
  </a></li>
                        <li><a target="_blank" href="https://lms.pratt.edu/">LMS
  </a></li>
                        <li><a target="_blank" href="https://www.pratt.edu/mypratt/">myPratt</a>
                        </li>
                        <li><a target="_blank" href="https://www.pratt.edu">Pratt Website
  </a></li>
                        <li><a target="_blank" href="https://www.pratt.edu/student-life/student-affairs/learning-access-center/access-to-pratt-programs-and-activities/">Accessibility</a>
                        </li>
                        <li><a target="_blank" href="https://www.pratt.edu/the-institute/administration-resources/information-technology/pratt-institute-privacy-policy/">Privacy Policy
  </a></li>
                    </ul>
                </div>
            </div>
            </div>
      </div>
</footer>
<!-- LibAnswers -->
<div id="libchat_75fe460f54c6ce530c63c1ef0fffd96a"></div><script src="https://pratt.libanswers.com/load_chat.php?hash=75fe460f54c6ce530c63c1ef0fffd96a"></script>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!-- Bootstrap Fallback -->
<div id="bootstrapCssTest" class="collapse"></div>
 <script>
   $(function() {
     if ($('#bootstrapCssTest').is(":visible")) {
       $("head").prepend('<link rel="stylesheet" href="css/bootstrap.min.css">');
     }
   });
 </script>
