<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5L5JVFC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a href="#main" class="hide">Skip to main content</a>
<a href="#search" class="hide">Skip to library search</a>
<!-- Header and Navigation -->
<header id="custom-header">
    {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="search-box" id="search">
              <script type="text/javascript" src="https://imageserver.ebscohost.com/branding/tabbedsearch/js/FormProcessing.js"></script>
<form action="https://search.ebscohost.com/login.aspx" method="get" onsubmit="ebscoPreProcess(this)">
<input name="search_prefix" type="hidden" value="" /> <input name="direct" type="hidden" value="true" />
<input name="scope" type="hidden" value="site" /> <input name="site" type="hidden" value="eds-live" />
<input name="authtype" type="hidden" value="ip,guest" />
<input name="custid" type="hidden" value="s8440772" />
<input name="groupid" type="hidden" value="main" />
<input name="profile" type="hidden" value="eds" />
<input name="bquery" type="hidden" value="" />
<div class="input-group input-group-lg">
<input aria-label="Search through library collections" name="uquery" class="form-control py=2 shadow search-bar" placeholder="Find books, articles, guides & more" type="search" />
<span class="input-group-append">
<button aria-label="library search" type="submit" value="Search" class="btn btn-outline-secondary border-0 search-button"><i class="fa fa-search"></i></button>
</span>
</div>
</form>
            </div>
        </div>
    </div>
</header>
