<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5L5JVFC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a href="#main" class="hide">Skip to main content</a>
<a href="#search" class="hide">Skip to library search</a>
<!-- Header and Navigation -->
<header id="custom-header">
      {% include nav.html %}
    <div class="container">
        <div class="row">
            <div class="search-box mt-5 mb-5">
              <!-- EBSCO Search Box Begins -->
              <form action="https://searchbox.ebsco.com/search/">
                <input name="schemaId" value="search" type="hidden" />
                <input name="custid" value="s8440772" type="hidden" />
                <input name="groupid" value="main" type="hidden" />
                <input name="profid" value="eds" type="hidden" />
                <input name="authtype" value="ip,guest" type="hidden" />
                <input name="scope" value="site" type="hidden" />
                <input name="site" value="eds-live" type="hidden" />
                <input name="direct" value="true" type="hidden" />
                <div class="input-group input-group-lg">
                <input id="search" aria-label="Search through library collections" name="bquery" type="text" class="form-control py=2 search-bar" placeholder="Search books, articles, media and more..." />
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border-1 search-button" aria-label="library search" value="Search" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
                <!-- <label style="display:block" for="fullText">
                  <input id="fullText" name="limiter-ft" value="Y" type="checkbox" />
                  <span>Full Text</span>
                </label>
                <label style="display:block" for="peerReviewed">
                  <input id="peerReviewed" name="limiter-rv" value="Y" type="checkbox" />
                  <span>Peer Reviewed</span>
                </label>
                <label style="display:block" for="catalogOnly">
                  <input id="catalogOnly" name="limiter-fc" value="Y" type="checkbox" />
                  <span>Catalog Only</span>
                </label> -->
              </form>
              <!-- EBSCO Search Box Ends -->
            </div>
        </div>
    </div>
</header>
