	<nav class="navbar navbar-expand-xl fixed-top navbar-dark" aria-label="Main navigation">
		<a class="navbar-brand mr-auto" href="/"> <img class="logo-style" src="{{absolute_url}}/img/logo-white.png" alt="Pratt">&nbsp;&nbsp;Institute Libraries</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#PILnav" aria-controls="PILnav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="PILnav">
			<ul class="navbar-nav ml-auto">
				<li></li>
				<li class="nav-item"> <a class="nav-link" href="/services">Services</a> </li>
				<li class="nav-item"> <a class="nav-link" href="/collections">Collections </a> </li>
				<li class="nav-item"> <a class="nav-link" href="/faculty">Faculty Support</a> </li>
				<li class="nav-item"> <a class="nav-link" href="https://pratt.libanswers.com">Help</a> </li>
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
					<div class="dropdown-menu"> <a class="dropdown-item" href="{{absolute_url}}/libraries">The Libraries</a> <a class="dropdown-item" href="{{absolute_url}}/policies">Policies</a> <a class="dropdown-item" href="{{absolute_url}}/contact">Contact</a> <a class="dropdown-item" href="{{absolute_url}}/staff">Staff Directory</a> <a class="dropdown-item" href="https://pratt.libcal.com/hours">Library Hours</a> <a class="dropdown-item" href="https://pratt.libcal.com/calendar/events">Exhibits & Events</a> <a class="dropdown-item" href="https://libguides.pratt.edu/blog">Blog</a> </div>
				</li>
				<li class="nav-item"> <a class="nav-link" href="{{absolute_url}}/account"><i class="fas fa-user-circle fa-lg"></i>&nbsp;Sign In</a> </li>
			</ul>
		</div>
	</nav>
<!-- Alert Message below. Go to alert.html in _includes to hide or edit-->
 {% include alert.html%}
<!--end Alert Message-->
