	<nav class="navbar navbar-expand-xl navbar-dark navbar-custom" aria-label="Main navigation">
		<a class="navbar-brand mr-auto" href="/"> <img class="logo-style" src="{{absolute_url}}/img/logo-white.png" alt="Pratt">&nbsp;&nbsp;Institute Libraries</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#PILnav" aria-controls="PILnav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="PILnav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" href="{{absolute_url}}/services">Services</a>
					<div class="dropdown-menu">
						<h6 class="dropdown-header">Using the Library</h6>
						<a class="dropdown-item" href="https://libguides.pratt.edu/printing">Printing & Scanning</a>
						<a class="dropdown-item" href="https://libguides.pratt.edu/scanning/start">Request a PDF</a>
						<a class="dropdown-item" href="https://cat.pratt.edu/patroninfo~S0">Renew Items</a>
						<a class="dropdown-item" href="http://libguides.pratt.edu/equipment">Equipment Loan</a>
						<a class="dropdown-item" href="https://libguides.pratt.edu/interlibraryloan/ILLHome">Interlibrary Loan & ConnectNY</a>
						<a class="dropdown-item" href="https://goo.gl/forms/6VNpPw2RMBTTVeP02">Intercampus Loan</a>
						<a class="dropdown-item" href="https://cat.pratt.edu/search/r/">Search Course Reserves</a>
						<a class="dropdown-item" href="https://libguides.pratt.edu/thesisguide">Submit Your Thesis</a>
						<a class="dropdown-item" href="https://pratt.libwizard.com/f/suggestion">Suggest a Purchase</a>
						<a class="dropdown-item" href="https://pratt.libanswers.com/">Frequently Asked Questions</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Research Help</h6>
						<a class="dropdown-item" href="https://libguides.pratt.edu/?b=s">Research Guides</a>
						<a class="dropdown-item" href="https://talks.pratt.edu/category/Libraries%3ELibrary+Tutorials/122554662">Video Tutorials</a>
						<a class="dropdown-item" href="https://pratt.libcal.com/appointments?lid=2583&g=5064">Schedule Zoom Appointment</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{absolute_url}}/faculty">Faculty Support</a>
					</div>
				</li>
				<li class="nav-item"> <a class="nav-link" href="{{absolute_url}}/collections">Collections </a> </li>
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
					<div class="dropdown-menu"> <a class="dropdown-item" href="{{absolute_url}}/libraries">The Libraries</a> <a class="dropdown-item" href="{{absolute_url}}/policies">Policies</a> <a class="dropdown-item" href="{{absolute_url}}/contact">Contact</a> <a class="dropdown-item" href="{{absolute_url}}/staff">Staff Directory</a> <a class="dropdown-item" href="https://pratt.libcal.com/hours">Library Hours</a> <a class="dropdown-item" href="https://pratt.libcal.com/calendar/events">Exhibits & Events</a> </div>
				</li>
				<li class="nav-item"> <a class="nav-link account" href="{{absolute_url}}/account"><i class="fas fa-user-circle fa-lg"></i>&nbsp;Sign In</a> </li>
			</ul>
		</div>
	</nav>
<!-- Alert Message below. Go to alert.html in _includes to hide or edit-->
 {% include alert.html%}
<!--end Alert Message-->
