<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
<body>
<header class="featured-image">
  {% include nav.html %}
  <div class="container">
    <div class="row">
    <div class="home-page-splash">
    <h1 id="home-page-motto">RESEARCH & DISCOVER</h1>
    <!-- EBSCO Search Box Begins -->
    <form action="https://searchbox.ebsco.com/search/">
      <input name="schemaId" value="search" type="hidden" />
      <input name="custid" value="s8440772" type="hidden" />
      <input name="groupid" value="main" type="hidden" />
      <input name="profid" value="eds" type="hidden" />
      <input name="authtype" value="ip,guest" type="hidden" />
      <input name="scope" value="site" type="hidden" />
      <input name="site" value="eds-live" type="hidden" />
      <input name="direct" value="true" type="hidden" />
      <div class="input-group input-group-lg">
      <input id="search" aria-label="Search through library collections" name="bquery" type="text" class="form-control py=2 shadow search-bar" placeholder="Search books, articles, media and more..." />
      <span class="input-group-append">
      <button class="btn btn-outline-secondary border-0 search-button" aria-label="library search" value="Search" type="submit"><i class="fa fa-search"></i></button>
      </span>
    </div>
      <!-- <label style="display:block" for="fullText">
        <input id="fullText" name="limiter-ft" value="Y" type="checkbox" />
        <span>Full Text</span>
      </label>
      <label style="display:block" for="peerReviewed">
        <input id="peerReviewed" name="limiter-rv" value="Y" type="checkbox" />
        <span>Peer Reviewed</span>
      </label>
      <label style="display:block" for="catalogOnly">
        <input id="catalogOnly" name="limiter-fc" value="Y" type="checkbox" />
        <span>Catalog Only</span>
      </label> -->
    </form>
    <!-- EBSCO Search Box Ends -->
     <a class="advanced-search" href="https://search.ebscohost.com/login.aspx?direct=true&authtype=ip,guest&custid=s8440772&setup=1&groupid=main&profile=eds">Advanced Search</a>
    </div>
      </div>
   </div>
   <p id="featured-image-attr">{{site.featured-image-attr}}</p>
  </header>
{{ content }}
</body>
</html>
