<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
<body>
{% include nav.html %}
{%- if page.image -%}
  <img src="{{- page.image | relative_url -}}" alt="{{page.image-caption}}" class="featured-image-post">
  <div class="container">
  <!-- <p class="blog-caption">{{page.image-caption}}</p> -->
</div>
{%- else -%}
  {%- assign postImage = "/assets/images/image-default.jpg" -%}
  <img src="{{- postImage | relative_url -}}" alt="" class="featured-image-post">
{%- endif -%}
<div class="container">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1><hr>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}</p>


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
</div>
{% include footer.html %}
</body>
</html>
